* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f9f6;
}

/* ================= HEADER ================= */

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #0f6b2f, #148a3d);
    backdrop-filter: blur(6px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    z-index: 1000;
    transition: 0.3s ease;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.logo-area i {
    font-size: 32px;
    color: #00e676;
}

.logo-text h1 {
    font-size: 24px;
    font-weight: 700;
}

.logo-text span {
    font-size: 13px;
    opacity: 0.85;
    letter-spacing: 1px;
}

/* NAV */

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 5px;
    transition: 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 3px;
    background: #00e676;
    transition: 0.3s ease;
    border-radius: 2px;
}

nav a:hover::after {
    width: 100%;
}


nav a.active::after {
    width: 100%;
}

nav a.active {
    font-weight: 600;
}

/* HERO */
.hero-comunidad {
    height: 95vh;
    background: linear-gradient(
                rgba(0, 0, 0, 0.20),
                rgba(0, 0, 0, 0.20)
              ),
              url('../../img/comunidad/cañoNegro.jpg') center/cover no-repeat;

    display: flex;
    align-items: center;
    padding: 0 80px;
    color: white;
}

.hero-comunidad h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-comunidad p {
    font-size: 20px;
    margin-top: 10px;
}

/* ===== SECCION VISUAL COMUNIDAD ===== */

.info-comunidad {
    padding: 80px 10%;
    background: #ffffff;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.info-row.reverse {
    flex-direction: row-reverse;
}

.info-img img {
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    transition: transform 0.4s ease;
    display: block;
}

.info-img img:hover {
    transform: scale(1.05);
}

.info-text {
    flex: 1;
}

.info-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #2d6a4f;
}

.info-text h2 i {
    margin-right: 10px;
    color: #40916c;
}

.info-text p {
    line-height: 1.8;
    font-size: 16px;
}

.btn-ver-mas {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #2d6a4f;
}

.btn-ver-mas:hover {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #26fb9b;
}


/* ================= FOOTER ================= */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-links a {
    font-size: 26px;
    color: white;
    transition: 0.3s;
}

.social-links a:hover {
    color: #a5d6a7;
    transform: scale(1.2);
}

/* ================= BOTÓN WHATSAPP ================= */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: white;
    border-radius: 50%;
    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

    .info-img {
        height: 250px;
    }

    header {
        padding: 15px 20px;
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .section {
        padding: 100px 20px 60px 20px;
    }
}
