/* ================= RESET ================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ================= BODY ================= */

body{
    font-family:'Poppins', sans-serif;
    background:#f5f9f6;
    color:#333;
}


/* ================= HERO ================= */

.hero{
    height:85vh;
    display:flex;
    align-items:center;
    padding:0 10%;
    background:linear-gradient(
            rgba(0,0,0,0.2),
            rgba(0,0,0,0.1)
        ),
        url('../../img/comunidad/fondoPuente.jpg') center/cover no-repeat;
    color:white;
    position:relative;
}

.hero-text{
    max-width:600px;
    font-weight: 700;
}

.hero h1{
    font-size:52px;
    margin-bottom:15px;
    color:#00e676;
}

.hero p{
    font-size:18px;
}


/* ================= BREADCRUMB ================= */

.breadcrumb{
    position:absolute;
    top:30px;
    right:10%;
}

.breadcrumb a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.breadcrumb span{
    margin:0 8px;
    opacity:0.6;
}

.breadcrumb a:hover{
    color:#00e676;
}


/* ================= SECCIONES ================= */

.section{
    padding:70px 0;
}

.section.alt{
    background:#ffffff;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:0 10%;
}


/* ================= TITULOS ================= */

.section h2{
    font-size:32px;
    margin-bottom:30px;
    color:#14532d;
    border-bottom:4px solid #00e676;
    display:inline-block;
    padding-bottom:10px;
}


/* ================= TEXTO ================= */

.section p{
    line-height:1.7;
    margin-bottom:18px;
}


/* ================= DOS COLUMNAS ================= */

.two-columns{
    display:flex;
    align-items:center;
    gap:50px;
    margin-top:30px;
}

.text{
    flex:1;
}

.collage{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
}

.collage img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:12px;
    transition:0.4s;
}

.collage img:hover{
    transform:scale(1.05);
}


/* ================= FOOTER ================= */

footer{
    background:#14532d;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:40px;
}


/* ================= RESPONSIVE ================= */

@media (max-width:900px){

    .two-columns{
        flex-direction:column;
    }

    .hero h1{
        font-size:38px;
    }

}

@media (max-width:600px){

    .hero{
        padding:0 6%;
    }

    .hero h1{
        font-size:30px;
    }

}